/* Global Garbage */
body {
	background-color: #282828;
	background-repeat: repeat;
	color: #ebdbb2;
	font-family: 'Segoe UI';
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
}

/* Link Colors */
a:link {
	color: #458588;
}
a:visited {
	color: #b16286;
}

/* Styles for specific div IDs */

#desc {
	text-align: center;
}

#title {
	text-align: center;
	font-family: 'Segoe UI Semibold';
}

#links {
	text-align: center;
}